<strong>Olá, {{ student.name }}</strong>
<p>Veja abaixo uma resposta para sua duvida</p>
<p>
  <strong>{{anwserUpdated.question}}</strong><br />
  <small>Pergunta enviada no {{createdAt}}</small><br /><br />
  <span>{{anwserUpdated.answer}}</span><br />
  <small>Resposta enviada no {{answer_at}}</small>
</p>
